/*
// This file is part of Samay - a timetabling software for 
// schools, colleges/universities.
//
// Samay is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Samay is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Samay.  If not, see <http://www.gnu.org/licenses/>.
*/

/**
 *
 * Copyright 2007 Abhijit A. M. (abhijit13@gmail.com),
 * Copyright 2007 Vinay Desai (desaivinay1997@gmail.com) 
 */


/*-----------------------------------------------------------------------/
/* Main Timetable Display Related */
.waitMessage {
	z-index: 1;
}
.currTitle {
	color: brown;
}
.selection-menu { 
	border: 4px solid brown;
	border-radius: 5px;
	float: left;
	margin: 5px;
	/*width : 10%;*/
	padding: 2px;
	font-family: Courier;
	font-size: 14px;
	font-weight: bold;
	display: none;
	background-color: #eeeeee;
	text-align: center;
}
#title {
	background-color: cyan;
}
.row {
	border: 1px solid black;
}
.over {
	border: 2px dashed green;
}

.select-menu {
	width: 100%;
}
/*th {
	text-align: center;
	text: bold 16px Times;
} */
option, select{
	font-size: 13px;
}
.subjectentry {
	color: red
}
.teacherentry {
	color: blue
}
.batchentry {
	color: green
}
.roomentry {
	color: black
}
.classentry {
	color: magenta
}
.timeTable {
	border-collapse: collapse; 
	border: 3px solid black;
	padding: 0px;
	/*width: 1024px;*/
}
.slottable {
	padding: 0px;
	border: 0px solid black;
	border-width: 0px;
	margin: 1px;
}
.cell {
	/*width: 100px; 
	height: 20px; 
	padding: 0px;
	*/
	padding: 0px;
	border: 1px solid black;
	border-width: 1px;
	max-width: 5%;
	margin: 0px;
} 
.cell:hover {
	background-color: #f5f5f5;
	/*width: auto;
	border: 1px solid black;*/
}

.dayname {
	width: 10px;
	height: 5px;
	padding: 0px;
} 

.animateButton {
	padding: 0px;
	margin: 0px;
}

.delete {
	cursor: pointer;
	float: right;
}

.delete:hover, .delete:focus {
	background-color: #DCDCDC;
}
.box {
	border: 1px solid black; 
	padding: 0px; 
	margin: 0px;
	border-radius: 5px;
	width: 100%; 
	font-size: 13px; 
	box-shadow: 5px 5px 5px #888888;
	text-align: center;
	vertical-align: middle;
}
/*select : disabled {
	color: grey;
} */
.disabledEntries1 {
	font-size: 12px;
	color: #ff6666;
}
.disabledEntries2 {
	font-size: 12px;
	color: grey;
}
.disabledEntries3 {
	font-size: 12px;
	color: grey;
}
.outercol2 {
	width: 20%;
	border: 1px solid black;
	vertical-align: top;
}
.outercol1 {
	width: 80%;
	padding: 0;
	vertical-align: top;
	top: 0%;
}
#outerTable {
	vertical-align: top;
}
#hideButton {
	font: 13px courier bold;
}
.mainTableRow {
	margin: 0px;
	padding: 0px;
}
/*-----------------------------------------------------------------------/
/* Tracker Related */
.trackerrow {
	font: 11px Tahoma;
}
.trackerrowExtra {
	font: 11px Tahoma;
	color: green;
}
.trackertable {
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
}
.trackercol {
	border-top: 1px solid black;
	border-bottom: 0px solid black;
	text-align: center;
	padding: 1px;
	margin: 1px;
}
.trackercolExtra {
	border-top: 1px black;
	border-bottom: 0px black;
	text-align: center;
	padding: 1px;
	margin: 1px;
}

/*-----------------------------------------------------------------------/
/* Installation Related */
.userinput {
	text-align: center;
	vertical-align: middle;
}
.userinputlabel {
	text-align: center;
	vertical-align: middle;
	font: 14px Courier;
	width: 55%;
	background-color: #ffaaaa;
	margin-bottom: 5px;
	margin-top: 5px;
}
.centeredForm {
	position: absolute;
	width: 780px;
	height: 650px;
	left: 50%;
	top: 50%;
	margin-left: -390px;
	margin-top: -250px;
}
.installMessage {
	background-color: cyan;
	font: 14px courier black;	
}
/*-----------------------------------------------------------------------/
/* All Configuration Forms Related */
.inputForm{
	background-color: #d3c8c8;
	width: auto;
	height: 0%;
	z-index: 1;
	text-align: center;
	transition: 0.5s;
	display: none;
	overflow-y: scroll;
	overflow: auto;
	position: absolute;
	left:5%;
	vertical-align:top;
}
.inputFormTitleTable {
	width: 100%;
}
.inputFormTitle {
	font: 20px courier bold;
	width: 90%;
}
.closebtn {
	width: 10%;
	text-align: right;
	vertical-align: middle;
	font: 13px Tahoma bold black;
	background-color: cyan;
}
.inputFormTable {
	padding: 3px;
	font-family: courier;
	float: left;
}

.inputFormHeader {
	font: 20px Times bold;
	color: brown;
	text-align: center;
	vertical-align: middle;
	background-color: cyan;
}
.headerRow {
	background-color: #ffaabb;
	font: 15px bold courier;	
}
.formText {
	font: 15px Tahoma bold;
	color: black;
}
/*-----------------------------------------------------------------------/
/* Misc */
.select2-container.select2-dropdown-open {
	width: 200%;
	margin-left: -70%;
}
/*-----------------------------------------------------------------------/
/* Toggle Checkbox Related */
toggle {
	float: left;
	width: 20px;
	height: 20px;
	padding: 4px;
	text-align: center;
	background: #191919;
	-webkit-border-radius: 100%;
	/*-moz-border-radius: 100%;*/
	border-radius: 100%;
	/* auto, since non-WebKit browsers doesn't support input styling */
	margin: auto 10px;
	border: 1px solid #1e90ff; /* Mobile Safari */
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	/*appearance: none;*/
	outline: none;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(30, 144, 255, 1);
	box-shadow: 0px 0px 1px 1px rgba(30, 144, 255, 1);

}

.toggle:hover {
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
	box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}

.toggle:checked {
	-webkit-box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
	box-shadow: 0px 0px 3px 3px rgba(155, 155, 255, 0.2);
}
.toggle:after {
	content: '';
	text-shadow: 0 -1px 0 #bfbfbf;
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	margin: auto;
	-webkit-border-radius: 100%;
	/*-moz-border-radius: 100%;*/
	border-radius: 100%;
}

.toggle:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;

	-webkit-box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);
	box-shadow: 0px 0px 1px 1px rgba(155, 155, 255, 0.2);

	/* Old browsers */
	background: #87e0fd;
	/* FF3.6+ */
	background: -moz-radial-gradient(center, ellipse cover, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%,
		color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-radial-gradient(center, ellipse cover, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	/* Opera 12+ */
	background: -o-radial-gradient(center, ellipse cover, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	/* IE10+ */
	background: -ms-radial-gradient(center, ellipse cover, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	/* W3C */
	background: radial-gradient(ellipse at center, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
	/*filter: IE6-9 fallback on horizontal gradient */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); 
}

